<div class="ca-c-card">
    <app-card-header color="blue">

            <app-card-title title="Informações do Cliente" icon="icon-client.png"></app-card-title>

    </app-card-header>
    <app-card-content>

        <app-card-item text="Nome" value="FELIPE DA SILVA FREITAS"></app-card-item>
        <app-card-line></app-card-line>

        <app-card-item text="CPF" value="123.456.789-10"></app-card-item>
        <app-card-line></app-card-line>

        <app-card-item text="RG" value="123456789"></app-card-item>
        <app-card-line></app-card-line>

        <app-card-item text="Data de Nascimento" value="01/01/2000"></app-card-item>
        <app-card-line></app-card-line>

        <app-card-item text="Telefone" value="(11) 99999-9999"></app-card-item>

    </app-card-content>

</div>